body {
	text-align: center;
	color: yellow;
	background-color: red;
	border: 2px solid #FFFF00;
	cursor: url(images/too693.cur), auto;
	font-size: 20px;
}
.grid {
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	grid-template-rows: 1fr;
	text-align: center;
}
.grid-colspan4-mainbox {
	background-color: red;
	grid-column-start: 1;
	grid-column-end: span 4;
	border: 2px solid #FFFF00;
}
.grid-colspan2-a {
	background-color: red;
	grid-column-start: 1;
	grid-column-end: 3;
	border: 2px solid #FFFF00;
}
.grid-colspan2-b {
	background-color: red;
	grid-column-start: 2;
	grid-column-end: 4;
	border: 2px solid #FFFF00;
}
.grid-colspan1-a {
	background-color: red;
	grid-column-start: 1;
	grid-column-end:  1;
	text-align: center;
	border: 2px solid #FFFF00;
}
.grid-colspan1-b {
	background-color: red;
	grid-column-start: 2;
	grid-column-end: 2;
	text-align: center;
	border: 2px solid #FFFF00;
}
.grid-colspan1-c {
	background-color: red;
	grid-column-start: 3;
	grid-column-end: 3;
	text-align: center;
	border: 2px solid #FFFF00;
}
.grid-colspan1-d {
	background-color: red;
	grid-column-start: 4;
	grid-column-end: 4;
	text-align: center;
	border: 2px solid #FFFF00;
}
.grid-colspan3-a {
	background-color: red;
	grid-column-start: 1
	grid-column-end: 4;
	border: 2px solid #FFFF00;
}
.grid-colspan3-b {
	background-color: red;
	grid-column-start: 2;
	grid-column-end: 5;
	border: 2px solid #FFFF00;
}
a {
	color: #00FF48;
}